{% extends 'base.html' %}

{% block contents %}
    <form action="" mothod="post" name="change-password">
    {{ form.hidden_tag() }}
    <p>
        Old Password: {{ form.old_password }}
        {% for error in form.old_password.errors %}
            <span style="color: red;">[ {{ error }} ]</span>
        {% endfor %}<br/>
        New Password: {{ form.password }}
        {% for error in form.password.errors %}
            <span style="color: red;">[ {{ error }} ]</span>
        {% endfor %}<br/>
        Confirm Your Password: {{ form.password_confirm }}
        {% for error in form.password_confirm %}
            <span style="color: red;">[ {{ error }} ]</span>
        {% endfor %}<br/>
    </p>
    <p>{{ form.submit }}</p>
    </form>
{% endblock %}