<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Share your favourites">
    <meta name="keywords" content="NewFolder,ACG,">
    <title>NewFolder</title>
    <link href="../static/css/NF-Pre.css" rel="stylesheet" media="screen" type="text/css">
</head>
<body>
    <div id="bg">
        <div id="bg_image">
            <div id="main_lg">
                <div id="nf_all">
                    <image src="../static/img/nf_all_white.png"/>
                </div>
                <div id="main_lg_hr_control">
                    <hr id="main_lg_hr">
                </div>
                <div id="main_lg_text_space">
                    <a id="main_lg_text" href="NewFolder-Pre.html">
                    <li>NewFolder.com</li>
                </a>
                </div>
            </div>
        </div>
        <div id="bot">
            <span id="bot_text">
                https://acg.rip/t/169439
                <br/>
                <div id="bot_text_hr_space">
                    <hr class="bot_text_hr">
                </div>
                <br/>
                https://bangumi.moe/torrent/585a6601a8e01b4f379161c8
            </span>
        </div>
    </div>
</body>
</html>
