<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Share your favourites">
    <meta name="keywords" content="NewFolder,ACG,">
    <title>NewFolder</title>
    <link href="../static/css/NF-Pre.css" rel="stylesheet" media="screen" type="text/css">
    <script type="text/javascript" src="../static/js/pre.js"></script>
</head>
<body>
    <div id="bg">
        <div id="bg_image" onmousemove="picMove()">
            <image src="../static/img/42074494.jpg" oncontextmenu="return false;"
                   onselectstart="return false;" ondragstart="return false" style="width: 110%;height: 110%"></image>
        </div>
        <div id="main_lg">
            <div id="nf_all">
                <a href="NewFolder.html">
                    <image src="../static/img/nf_all_white.png" oncontextmenu="return false;"
                           onselectstart="return false;" ondragstart="return false"></image>
                </a>
            </div>
            <div id="main_lg_hr_control">
                <hr id="main_lg_hr">
            </div>
            <div id="main_lg_text_space">
                <a id="main_lg_text" href="NewFolder.html">
                    <li>NewFolder.com</li>
                </a>
            </div>
        </div>
        <div id="bot">
            <span id="bot_text">
                Prompt 1 5h7sdf6asd6578sf6asfsd7g5sd
                <br/>
                <div id="bot_text_hr_space">
                    <hr class="bot_text_hr">
                </div>
                <br/>
                Prompt 2 dasd8adyaft78sasaf6asd6as86
            </span>
        </div>
    </div>
</body>
</html>
